@import "_flex";

:root {
  color-scheme: light dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.brand {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 48px;
  display: flex;
  flex-direction: row;

  .typewriter {
    span {
      opacity: 0;
    }
  }

  span {
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }
  }

  .gt {
    margin-right: 8px;
    color: var(--louglu-gt-color);
  }

  .l1 {
    color: var(--louglu-l1-color);
  }

  .o {
    color: var(--louglu-o-color);
  }

  .u1 {
    color: var(--louglu-u1-color);
  }

  .g {
    color: var(--louglu-g-color);
  }

  .l2 {
    color: var(--louglu-l2-color);
  }

  .u2 {
    color: var(--louglu-u2-color);
  }
}

.tagline {
  opacity: 0;
  font-style: italic;
  margin-top: 8px;

  &.fade-in {
    opacity: 1;
    animation: fade 2s ease-in-out;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
