* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  padding: 0 8px;
  font-size: 14px;

  p:last-child {
    margin-left: 4px;
  }
}

@media screen and (max-width: 378px) {
  main {
    height: 92vh;
  }

  footer {
    flex-direction: column;
    height: 8vh;
    align-items: flex-start;
    justify-content: center;

    p:last-child {
      margin-left: 0;
    }
  }
}
