$primaryThemeColor: #ad0000;
$secondaryThemeColor: rgba(0, 0, 0, 0.85);
$tertiaryThemeColor: #ffffff;

:root {
  --background-color: #{$tertiaryThemeColor};
  --text-color: #{$primaryThemeColor};
  --louglu-gt-color: #{$primaryThemeColor};
  --louglu-l1-color: #{$primaryThemeColor};
  --louglu-o-color: #{$primaryThemeColor};
  --louglu-u1-color: #{$primaryThemeColor};
  --louglu-g-color: #{$primaryThemeColor};
  --louglu-l2-color: #{$primaryThemeColor};
  --louglu-u2-color: #{$primaryThemeColor};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$secondaryThemeColor};
    --text-color: #{$tertiaryThemeColor};
    --louglu-gt-color: #{$primaryThemeColor};
    --louglu-l1-color: #{$primaryThemeColor};
    --louglu-o-color: #{$primaryThemeColor};
    --louglu-u1-color: #{$primaryThemeColor};
    --louglu-g-color: #{$primaryThemeColor};
    --louglu-l2-color: #{$primaryThemeColor};
    --louglu-u2-color: #{$primaryThemeColor};
  }
}
